<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>method: <%= method %></p>
    <p>path: <%= path %></p>
    <p>port: <%= port %></p>
  </body>
</html>
